# Import Dependencies for Data Cleanup

In [36]:
import os
import pandas as pd
import numpy as np

# Import Air Quality Index CSV Files for Data Cleanup
Create connection to csv files and load all data into a pandas dataframe. Drop unnecessary columns and any null data values.

In [65]:
aqi2018_df = pd.read_csv("Data/annual_aqi_by_county_2018.csv")
# aqi2018_df.head()
#1056 rows

In [66]:
aqi2017_df = pd.read_csv("Data/annual_aqi_by_county_2017.csv")
# aqi2017_df.head()
#1062 rows

In [67]:
aqi2016_df = pd.read_csv("Data/annual_aqi_by_county_2016.csv")
# aqi2016_df.head()
#1054 rows

In [68]:
aqi2015_df = pd.read_csv("Data/annual_aqi_by_county_2015.csv")
# aqi2015_df.head()
#1061 rows

In [69]:
aqi2014_df = pd.read_csv("Data/annual_aqi_by_county_2014.csv")
# aqi2014_df.head()
#1054 rows

In [70]:
aqi2013_df = pd.read_csv("Data/annual_aqi_by_county_2013.csv")
# aqi2013_df.head()
#1062 rows

In [71]:
frames = [aqi2018_df, aqi2017_df, aqi2016_df, aqi2015_df, aqi2014_df, aqi2013_df]
joined_aqi_df= pd.concat(frames)
joined_aqi_df.head()
#6439 rows

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,97,50,35,0,0,214,0,56,0
1,Alabama,Clay,2018,110,103,7,0,0,0,0,64,45,27,0,0,0,0,110,0
2,Alabama,Colbert,2018,277,251,26,0,0,0,0,93,50,35,0,0,209,0,68,0
3,Alabama,DeKalb,2018,350,316,34,0,0,0,0,84,50,35,0,0,317,0,33,0
4,Alabama,Elmore,2018,222,203,19,0,0,0,0,71,49,33,0,0,222,0,0,0

In [82]:
joined_aqi_df = joined_aqi_df.rename(columns={"State" : "state",
                                       "County" : "county",
                                       "Year" : "year",
                                       "Days with AQI" : "days_with_aqi",
                                       "Good Days" : "good_days",
                                       "Moderate Days" : "moderate_days",
                                       "Unhealthy for Sensitive Groups Days" : "unhealthy_sensitive_days",
                                       "Unhealthy Days" : "unhealthy_days",
                                       "Very Unhealthy Days" : "very_unhealthy_days",
                                       "Hazardous Days" : "hazardous_days",
                                       "Max AQI" : "max_aqi",
                                       "90th Percentile AQI" : "90th_pct_aqi",
                                       "Median AQI" : "median_aqi",
                                       "Days CO" : "days_co",
                                       "Days NO2" : "days_no2",
                                       "Days Ozone" : "days_ozone",
                                       "Days SO2" : "days_so2",
                                       "Days PM2.5" : "days_pm2.5",
                                       "Days PM10" : "days_pm10",
                                       })
morethan100 = joined_aqi_df["days_with_aqi"] > 100
final_aqi_df = joined_aqi_df[morethan100]
final_aqi_df = final_aqi_df.drop("days_co", 1)
final_aqi_df = final_aqi_df.drop("days_no2", 1)
final_aqi_df = final_aqi_df.drop("days_ozone", 1)
final_aqi_df = final_aqi_df.drop("days_so2", 1)
final_aqi_df = final_aqi_df.drop("days_pm2.5", 1)
final_aqi_df = final_aqi_df.drop("days_pm10", 1)

In [83]:
final_aqi_df.head()

,state,county,year,days_with_aqi,good_days,moderate_days,unhealthy_sensitive_days,unhealthy_days,very_unhealthy_days,hazardous_days,max_aqi,90th_pct_aqi,median_aqi
0,Alabama,Baldwin,2018,270,245,25,0,0,0,0,97,50,35
1,Alabama,Clay,2018,110,103,7,0,0,0,0,64,45,27
2,Alabama,Colbert,2018,277,251,26,0,0,0,0,93,50,35
3,Alabama,DeKalb,2018,350,316,34,0,0,0,0,84,50,35
4,Alabama,Elmore,2018,222,203,19,0,0,0,0,71,49,33

In [46]:
# joined_aqi_df.to_csv("../totalaqi_bycounty.csv")

# Import Air Monitor CSV files for Data Cleanup

In [86]:
mon2018 = pd.read_csv("Data/annual_conc_by_monitor_2018.csv")
mon2017 = pd.read_csv("Data/annual_conc_by_monitor_2017.csv")
mon2016 = pd.read_csv("Data/annual_conc_by_monitor_2016.csv")
mon2015 = pd.read_csv("Data/annual_conc_by_monitor_2015.csv")
mon2014 = pd.read_csv("Data/annual_conc_by_monitor_2014.csv")
mon2013 = pd.read_csv("Data/annual_conc_by_monitor_2013.csv")

In [91]:
frames = [mon2018, mon2017, mon2016, mon2015, mon2014, mon2013]
air_mon = pd.concat(frames)
air_mon.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,0.054,0.044,0.030,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.049,0.039,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.049,0.039,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.048,0.039,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-02-12
4,1,3,10,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,24 HOUR,...,8.600,6.600,4.000,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2019-04-26

In [92]:
ozone_df = air_mon.loc[air_mon['Parameter Name'] == "Ozone"]
ozone_df = ozone_df.loc[ozone_df['Sample Duration'] == "8-HR RUN AVG BEGIN HOUR"]
ozone_df_filt = ozone_df[[                      
                          'Parameter Name',
                          'Year',
                          'Units of Measure',
                          'Arithmetic Mean',
                          'Local Site Name',
                          'State Name',
                          'County Name'
                         ]]

In [93]:
ozone_df_filt = ozone_df_filt.rename(columns={"Parameter Name" : "parameter_name",
                                              "Year" : "year",
                                              "Units of Measure" : "units_of_measure",
                                              "Arithmetic Mean" : "arithmetic_mean",
                                              "Local Site Name" : "local_site_name",
                                              "State Name" : "state",
                                              "County Name" : "county"})
ozone_df_filt.head()

,parameter_name,year,units_of_measure,arithmetic_mean,local_site_name,state,county
1,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin
2,Ozone,2018,Parts per million,0.039977,"FAIRHOPE, Alabama",Alabama,Baldwin
3,Ozone,2018,Parts per million,0.039614,"FAIRHOPE, Alabama",Alabama,Baldwin
13,Ozone,2018,Parts per million,0.037956,MUSCLE SHOALS,Alabama,Colbert
14,Ozone,2018,Parts per million,0.037956,MUSCLE SHOALS,Alabama,Colbert

# Import SQLite and load dataframe onto database

In [15]:
import sqlite3

In [16]:
db = sqlite3.connect("air_quality_db")

In [17]:
joined_aqi_df.to_sql("aqi_bycounty", db, if_exists="append", index=False)